[Unit]
Description=The SINCRO Mobile HTTP API
After=syslog.target

[Service]
User=spring
Type=idle
ExecStart=/usr/bin/java -jar /var/spring/project_main_component-0.0.1-SNAPSHOT.jar 
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target