# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


#temporary files
*.tmp
Docs/Relatórios/~$ta_version.docx
simulator/.idea
Docs/Relatórios/~$nal_report 0.0.2_a.docx
*.iml
Docs/.idea
Components/App/yarn.lock
Components/App/yarn.lock
Components/simulator/.idea/workspace.xml
Components/simulator/.gradle
Components/simulator/.idea
